<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Task</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',
    filename='styles/stylesheet.css')}}">
  </head>

  <body>
    <!--Body inlcudes a simple form outside index.html to edit the selected task-->
    <h1 class="todo_title">Edit Task</h1>
    <form action="/edit/{{ todo.id }}" method="POST">
      <!--Responds to the @my_view.route("/edit/<todo.id>") route for the specific task-->
      <label for="task">Edit Task:</label>
      <input
        type="text"
        name="task"
        id="task"
        value="{{ todo.task }}"
        required
      />
      <label for="category">Category:</label>
      <select name="category" id="category">
        <option value="Programming" {% if todo.category =="Programming"%}selected{% endif %}>Programming</option>
        <option value="Home Tasks" {% if todo.category =="Home Tasks" %}selected{% endif %}>Home Tasks</option>
        <option value="Daily Tasks" {% if todo.category =="Daily Tasks" %}selected{% endif %}>Daily Tasks</option>      
        <option value="Other" {% if todo.category =="Other" %}selected{% endif %}>Other</option>
      </select>
      <input type="hidden" name="origin_category" value="{{category}}" />
      <!--Prefills the currently saved task in the form and inputs it to the specific category-->
      <button type="submit">Save Changes</button>
      <!--Button that allows to save edited task changes to the database-->
    </form>
    <a href="/"> <button type="button">Back to Home</button></a>
    <!-- This Link allows to go back to homepage without editing the task. If user chooses to edit the prefilled text, once user presses "Save Changes" it redirects user back to home page straight away without this link.-->
  </body>
</html>
