<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>

  <body>
    <div>
      <h1>To Do List</h1>

      <form action="/add" method="post">
        <div>
          <label>Todo task</label>
          <input type="text" name="task" placeholder="Enter a Task" />
          <button type="submit">Add a Task</button>
        </div>
      </form>
      <hr />
      {% for todo in todo_list %}
      <div>
        <p>{{ todo.id }} : {{ todo.task }}</p>
        {% endfor %}
      </div>
      <hr />
      {% for todo in todo_list %}
      <div>
        <p>{{ todo.id }} : {{ todo.task }} : {{todo.complete}}</p>
        {% if todo.complete == False %}
            <p>Task Incomplete. <a href = "/update/{{todo.id}}"> Mark as complete?</a></p>
        {% else %}
            <p>Task Complete!</p>
            <a href="/update/{{ todo.id }}" class="toggle-btn">Mark as Incomplete</a>
        {% endif%}
    </div>
    <p><a href ="/delete/{{todo.id}}"> Delete Task?</a></p>
        {% endfor %} 
    <hr />
  </body>
</html>
