<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',
    filename='styles/stylesheet.css')}}"
    />
  </head>

  <body>
    <!--Identification for CSS-->
    <!-- Navigation bar for separate categories-->
    <div class="Navbar">
      <nav>
        <form action="/" method="GET" style="display: inline">
          <button type="submit">All Tasks</button>
        </form>
        <form
          action="/category/Programming"
          method="GET"
          style="display: inline"
        >
          <button type="submit">Programming</button>
        </form>
        <form
          action="/category/Home Tasks"
          method="GET"
          style="display: inline"
        >
          <button type="submit">Home Tasks</button>
        </form>
        <form
          action="/category/Daily Tasks"
          method="GET"
          style="display: inline"
        >
          <button type="submit">Daily Tasks</button>
        </form>
        <form action="/category/Other" method="GET" style="display: inline">
          <button type="submit">Other</button>
        </form>
      </nav>
    </div>
    <h1 class="todo_title">To Do List</h1>
    <hr />

    <!--Display the message from views.py based on a condition. If user has added a task successfully, its a success message, if not then an error message.-->
    {% if message %} {% if message_type == "success" %}
    <p id="success-message">{{ message }}</p>
    {% elif message_type == "error" %}
    <p id="error-handling">{{ message }}</p>
    {% endif %} {% endif %}

    <form action="/add" method="post" class="todo-form">
      <!--Included a class for CSS-->
      <div class="input-field">
        <label for="task">Todo task</label>
        <input type="text" name="task" placeholder="Enter a Task" required />
        <!--Ensures that an empty task is not submitted-->
      </div>

      <div class="category-field">
        <label for="category">Category:</label>
        <select name="category" required>
          <option value="Programming">Programming</option>
          <option value="Home Tasks">Home Tasks</option>
          <option value="Daily Tasks">Daily Tasks</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <button type="submit">Add a Task</button>
    </form>

    <hr />
    <!-- Following Displays all tasks. If statement in the following div element is assigning dynamic selectors that allows to style the complete or incomplete status. In this case complete tasks are green, while incomplete are red. -->
    {% for todo in todo_list %}
    <div
      class="todo-table {% if todo.complete %}complete{% else %}incomplete{% endif %}"
      id="category-specific"
    >
      >

      <p>
        {{ todo.id }} : {{ todo.task }} > {{ 'Complete' if todo.complete else
        'Incomplete'}} : Task submitted on {{
        todo.time_and_date.strftime('%d-%m-%y %H:%M:%S') }} : Category:
        {{todo.category}}
      </p>
      <!-- strftime formats the time_and_date as a readable timestamp and therefore outputs the time and date of the created task. Next, the  'Complete' if todo.complete else 'Incomplete' conditional checks True or False based on the toggle between if task is either complete or incomplete and outputs "Complete" if task is complete and "Incomplete" if task has not been completed instead of True or False, which is a more readable, human friendly approach.  -->
      <!--Form that marks the task complete/incomplete-->
      <form
        class="completion"
        action="/update/{{todo.id}}"
        method="POST"
        style="display: inline"
      >
        <button type="submit">
          {{'Mark as Complete' if not todo.complete else 'Mark as Incomplete'}}
        </button>
      </form>
      <!--Form that responds to task deletion and is represented as a button-->
      <form
        class="to-delete"
        action="/delete/{{todo.id}}"
        method="GET"
        style="display: inline"
      >
        <button type="submit">Delete Task?</button>
      </form>
      <!--Form that responds to editing a task as a button. Name value passes to GET request for the edit route.-->
      <form
        class="to-edit"
        action="/edit/{{todo.id}}"
        method="GET"
        style="display: inline"
      >
        <input type="hidden" name="category" value="{{todo.category}}" />
        <button type="submit">Edit Task?</button>
      </form>
    </div>
    {% endfor %}
    <hr />
  </body>
</html>
